body{
    background: #191970;
    font-family: sans-serif;
    color: white;    
}
.container{
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 12px;
    width: 500px;
    height: 450px;
}
.espaco
{
    padding-top: 10px;
}
.espaco1
{
    padding-bottom: 10px;
}